/* 自定义字体图标 */
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?tomleg');
  src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?tomleg') format('truetype'),
    url('../fonts/icomoon.woff?tomleg') format('woff'),
    url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* 版心 */
.w {
  width: 1200px;
  margin: 0 auto;
}

/* 浮动 */
.fl {
  float: left;
}

.fr {
  float: right;
}

/* 下拉图标 */
.dropdown::after {
  content: "\e91e";
  display: inline-block;
  margin-left: 10px;
  line-height: 6px;
  font-family: 'icomoon';
  transition: all .3s;
}

.dropdown:hover::after {
  transform: rotate(-180deg);
}

/* ============快捷导航模块============ */
.shortcut {
  height: 31px;
  line-height: 31px;
  background-color: #f1f1f1;
  font-size: 12px;
}

.shortcut .register {
  margin-left: 10px;
  color: #c81623;
}

.shortcut ul li {
  margin-right: 14px;
}

.shortcut ul li a {
  margin-right: 16px;
}

/* ============header头部模块============ */
.header {
  height: 61px;
  margin-top: 23px;
}

.header .logo a {
  float: left;
  display: block;
  width: 171px;
  height: 61px;
  background: url('../images/logo.png') no-repeat;
}

.header .fl {
  margin-left: 174px;
}

.header .search {
  width: 538px;
  height: 36px;
  border: solid 2px #b1191a;
}

.header .search-txt {
  height: 32px;
  width: calc(100% - 80px);
  line-height: 32px;
  padding: 0 10px;
}

.header .search-btn {
  float: right;
  width: 80px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  background-color: #b1191a;
  color: #ffffff;
  font-size: 16px;
}

.header .hotwords ul li {
  float: left;
  padding: 8px 12px;
}

.header .hotwords ul li a {
  font-size: 12px;
}

.header .hotwords ul li:first-child a {
  color: #c81623;
}

.header .shopping-cart {
  width: 140px;
  height: 36px;
  background-color: #f7f7f7;
  border: solid 1px #dfdfdf;
  margin-right: 62px;
  line-height: 36px;
  text-align: center;
}

.header .shopping-cart a {
  display: block;
  width: 100%;
  height: 100%;
}

.header .shopping-cart a::before {
  content: '\e93a';
  padding-right: 7px;
  font-family: 'icomoon';
  color: #d84a4a;
}

.header .shopping-cart a::after {
  content: '\e920';
  padding-left: 14px;
  font-family: 'icomoon';
  color: #999999;
}

/* ============关于我们模块============ */
.footer {
  height: 417px;
  background-color: #f5f5f5;
}

.footer .services {
  height: 109px;
  border-bottom: 1px solid #ededed;
}

.services ul li {
  float: left;
  width: 240px;
  height: 50px;
  padding: 0 37px;
  margin: 30px 0;
  vertical-align: middle;
}

.services ul li div {
  float: left;
  width: 50px;
  height: 50px;
  background: url(../images/icons.png) no-repeat;
  margin-right: 8px;
  border-radius: 50%;
}

.services ul li:nth-child(1) div {
  background-position: -253px -3px;
}

.services ul li:nth-child(2) div {
  background-position: -254px -53px;
}

.services ul li:nth-child(3) div {
  background-position: -257px -106px;
}

.services ul li:nth-child(4) div {
  background-position: -258px -157px;
}

.services ul li:nth-child(5) div {
  background-position: -258px -208px;
}

.services ul li h5 {
  font-size: 14px;
  font-weight: 700;
  color: #333333;
}

.services ul li p {
  font-size: 12px;
  font-weight: 400;
  color: #666666;
}

.links {
  height: 187px;
  width: 100%;
  padding: 21px 0 24px 50px;
  border-bottom: 1px solid #ededed;
}

.links dl {
  float: left;
  width: 200px;
}

.links dl dt {
  margin-bottom: 13px;
  font-size: 16px;
  color: #333333;
}

.links dl dd {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  color: #666666;
}

.help {
  float: right;
  margin-right: 80px;
  text-align: center;
}

.help h5 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  color: #333333;
}

.help p {
  margin-top: 8px;
  font-size: 12px;
  color: #666666;
}

.about {
  height: 59px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

.about ul {
  display: inline-block;
  height: 12px;
}

.about ul li {
  float: left;
  height: 12px;
  line-height: 12px;
  padding: 0 14px;
}

.about ul li:not(:first-child) {
  border-left: 1px solid #999999;
}

.about ul li a {
  font-size: 12px;
}

.address {
  margin-top: 16px;
}

.copyright {
  margin-top: 9px;
}